.entry-page-title.container
  h3.entry-title Reset Password
.container
  #login
    .signinregforms
      br
      br
      .row(style="background-color:#F5FBEF;")
        .col-lg-6.col-md-6.col-sm-6
          form#loginForm.form-horizontal(role='form', action='/reset', method='post')
            fieldset
              span
                legend 
                  | Reset Password
                  span(style="color:red;margin-left:1em;") #{error}
                  span(style="color:green;margin-left:1em;") #{success}
              .form-group
                label(for='user_resetPassword')
                  i.fa.fa-user
                  | email
                input.login-input.form-control(name='email', type='text', title='email', placeholder='Enter Email Address')
              .form-group
                button#validate.btn.btn-warning.btn-lg(type='submit')
                  i.fa.fa-sign-in
                  | Reset Password
