.entry-page-title.container
  h3.entry-title Set New Password 
.container
  #login
    .signinregforms
      br
      br
      .row(style="background-color:#F5FBEF;")
        .col-lg-6.col-md-6.col-sm-6
          form#loginForm.form-horizontal(role='form', action='/set_new_password', method='post')
            fieldset
              span
                legend 
                  | Set New Password
                  span(style="color:red;margin-left:1em;") #{signup_error}
                  span(style="color:red;margin-left:1em;") #{signup_success}
              .form-group
                label(for='user_resetPassword')
                  i.fa.fa-user
                  | password 
                input.login-input.form-control(name='password', type='password', title='password', placeholder='Enter New password')
              .form-group
                label(for='user_resetPassword')
                  i.fa.fa-user
                  | password confirm
                input.login-input.form-control(name='password_confirm', type='password', title='password_confirm', placeholder='Re-Enter New password')
              .form-group.hidden
                label(for='usertoken')
                  i.fa.fa-key
                  | User Token
                input#user_token.login-input.form-control(name='accountToken', type='text', placeholder='Enter key')
              .form-group
                button#validate.btn.btn-warning.btn-lg(type='submit')
                  i.fa.fa-sign-in
                  | Reset Password
script(type='text/javascript'). 
  document.getElementById('user_token').value = "#{clientToken}";
