.row-offcanvas.row-offcanvas-left
    //#sidebar.sidebar-offcanvas
        .col-sm-12
            ul#user-profile.nav
                li
                    i.fa.fa-user-md.fa-2x
                        span(style="font-size:.8em;")  #{username}
    #main
        .col-sm-12
          .row
              // Search Form
              .entry-page-title.container-fluid
                h4.entry-title(style="color:white;")  Search
              .search.container-fluid
                #search
                    .row
                      .col-sm-10
                        .form-group
                          input#searchText.form-control.login-input(name='search', type='text', title='Search', placeholder='Enter Search Term')
                      .col-sm-2
                        .form-group
                          button#searchButton.btn.btn-warning.btn-lg(type='submit')
                            i.fa.fa-search
                            | Search
              // End Search Form
              // Search Results
              #search-results
                #expandCollapse.container-fluid
                  .row
                    .col-sm-12.pull-right
                      span.pull-right
                       button#collapse.btn.btn-success.btn-xs(type='button')
                          i.fa.fa-minus
                          span Collapse
                #cardList
          script.
            var username = '#{username}'
            var user_id = '#{userId}'
