#main.container-fluid
  .row
    #sidebar-left.col-xs-2.col-sm-2
      ul#user-profile.nav
        li
          i.fa.fa-user-md.fa-2x
            span(style="font-size:.8em;")  #{username}
      ul#collection.nav.main-menu
    #content.col-xs-10.col-sm-10.col-md-10.col-lg-10
      // Search Form
      .entry-page-title.container-fluid
        h4.entry-title(style="color:white;")  Search
      .search.container-fluid
        #search
            .row
              .col-lg-6.col-md-6
                .form-group
                  input#searchText.form-control.login-input(name='search', type='text', title='Search', placeholder='Enter Search Term')
              .col-lg-2.col-md-2
                .form-group
                  button#searchButton.btn.btn-warning.btn-lg(type='submit')
                    i.fa.fa-search
                    | Search
              .col-lg-2.col-md-2
                .form-group
                  button#advbutton.btn.btn-primary.btn-lg(type='button')
                    | Advance Search
                    i.fa.fa-chevron-down(title='collapse')
            #advance.row
              .col-lg-2.col-md-2.col-sm-2
                .form-group
                  input#results(type='checkbox', name='results', value='results', aria-label='results')
                  span(style='padding-left:.5em;') 
                  | Results
              .col-lg-3.col-md-3.col-sm-3
                .form-group
                  label(for='status') Status
                  select#status.form-control(name='status')
                    option(value='completed') Completed
                    option(value='active') Active
              .col-lg-5.col-md-5.col-sm-5
                .form-group
                  label(for='condition') Condition(s) - comma seperated 
                  input#condition.form-control(name='condition', type='text', title='condition', placeholder='Enter Conditions')
      // End Search Form
      // Search Results
      #cardList
