doctype html 
html(lang='en', xmlns='http://www.w3.org/1999/html')

include ./head.jade
link(href='assets/css/base.css', type='text/css', rel='stylesheet', media='screen and (min-width: 100px)')
link(href='assets/css/core.css', type='text/css', rel='stylesheet', media='screen and (min-width: 100px)')
link(href='assets/css/ctc_wide.css', type='text/css', rel='stylesheet', media='screen and (min-width: 100px)')

body
  div#ctcApp
    div.header.boxShadow.bg_gray
      div.menu.left.mleft2
        a(href="/ctc").right.menuItem.white Clinical Trial Catalog
      div.menu.right.mright2
        a(href="/ct.gov").right.menuItem.white CT.gov
      div.leftNav.left.bg_gray
        div.sideMenuItem.mtop2
          a(href="/Collections").white Collections 
        div.sideMenuItem
          a(href="/Profile").white Profile
        div.sideMenuItem
          a(href="/Logout").white Logout
    div.main.right.leftOffset.mbottom3
      div.profile.clear
        div.searchPanel
          div.panel.bg_white.mtop2.boxShadow.summary
            div.programMetric.left.blue
              h5 NCTID
              div.value. 
                #{data[0].nctid}
            div.programMetric.right.blue
              h5.rightText Description
              div.value.rightText. 
                #{data[1].description}
            div.programMetric.left.blue  Treatment Groups
            - var trt = data[2].trt_groups
            - for (var i = 0; i < trt.length; i++) 
              div.value.left.blue #{JSON.stringify(trt[i])}

            


            

