footer#colophon.site-footer(role='contentinfo')
  .container
    .site-info.row
      .col-md-5
        h1.footer-widget-title ABOUT CLINALYTICS
        .textwidget
          | CLINALYTICS powerful APIs do the heavy lifting for you, so you can gather all the data you want and start getting the answers you need.
      .col-md-4
        h1.footer-widget-title HELP AND SUPPORT
        div
          ul.social-footer
            li
              a(title='Consulting Services', href='#') Consulting Services
            li
              a(title='FAQ', href='#') Frequently Asked Questions
            li
              a(title='Support', href='#') Support
      .col-md-2
        h1.footer-widget-title FOLLOW US
        div
          ul.social-footer
            li.facebook
              a(title='Facebook', href='#')
                i.fa.fa-facebook.fa-2x
                | Facebook
            li.twitter
              a(title='Twitter', href='#')
                i.fa.fa-twitter.fa-2x
                | Twitter
            li.gplus
              a(title='Google Plus', href='#')
                i.fa.fa-google-plus.fa-2x
                | Google Plus
            li.github
              a(title='Github', href='#')
                i.fa.fa-github-alt.fa-2x
                | Github
.footer
  .container
    .row
      .col-lg-6.col-md-6.col-sm-6
        p.text-muted
          | Copyright © 2014 - All rights reserved. Created with
          i.fa.fa-heart.fa-2x
          | in New Jersey
      .col-lg-6.col-md-6.col-sm-6
        .footer-menu.right
          ul.menu
            li
              a(href='#') Home
            li
              a(href='#') About
            li
              a(href='#') Sitemap
            li
              a(href='#') Site Terms
            li
              a(href='#') Contact
   Bootstrap core JavaScript
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js")
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
script(src="js/ie10-viewport-bug-workaround.js")
