doctype html 
html(lang='en', xmlns='http://www.w3.org/1999/html')

include ./head.jade
include ./menu.jade
include ./sidebar.jade
include ./footer.jade
include ./../public/template/collection.template.jade
include ./processCollection.jade


script(type='text/javascript').
  setActiveMenu('catalog');
