script#card-template(type="text/template")
        .panel.panel-default
          .panel-heading
            .row
              .col-lg-4.col-md-4
                span.text-center.text-label ID:
                span.text-center.text-value(style="padding-left:.5em;") <%= card.nct_id %>
              .col-lg-4.col-md-4
                span.text-center.text-label Status:
                span.text-center.text-value(style="padding-left:.5em;") <%= card.overall_status %>
              .col-lg-3.col-md-3
                span.text-center.text-label Results:
                span.text-center.text-value(style="padding-left:.5em;") <%= card.clinical_results %>
              .col-lg-1.col-md-1
                span.pull-right.header-icon
                  i.fa.fa-chevron-up(title='Collapse')
            .row
              .col-lg-12.col-md-12
                span.text-center.text-label Summary:
                span.text-center.text-value
                  | <%= card.summary %>
          .panel-body(style="background-color:#F5FBEF;")
            .row
              .col-lg-12.col-md-12
                span.pull-right.expand-collapse-icon
                  i.fa.fa-minus(title='Collapse')
          .panel-body(style="background-color:#F5FBEF;")
            .row
              .col-lg-4.col-md-4
                span.text-center.text-label Primary Outcomes
                <% _.each(card.primary_outcomes, function(outcome) { %>
                li.text-left.text-value <%= outcome.measure %>
                <% }); %>
              .col-lg-4.col-md-4
                span.text-center.text-label Secondary Outcomes
                <% _.each(card.secondary_outcomes, function(outcome) { %>
                li.text-left.text-value <%= outcome.measure %>
                <% }); %>
              .col-lg-4.col-md-4
                span.text-center.text-label Conditions Treated
                <% _.each(card.conditions, function(condition) { %>
                li.text-left.text-value <%= condition %>
                <% }); %>
          .panel-body(style="background-color:#F2F5A9;")
            .row
              .col-lg-12.col-md-12
                span.pull-right.expand-collapse-icon
                  i.fa.fa-minus(title='Collapse')
          .panel-body.ca-container(style="background-color:#F2F5A9;")
            .row.ca-wrapper
              .col-lg-4.col-md-4.ca-item
                svg#chart1.chart(width='420', height='120')
                  g(transform='translate(0,0)')
                    rect(width='40', height='19')
                    text(x='37', y='9.5', dy='.35em') 4
                  g(transform='translate(0,20)')
                    rect(width='80', height='19')
                    text(x='77', y='9.5', dy='.35em') 8
                  g(transform='translate(0,40)')
                    rect(width='150', height='19')
                    text(x='147', y='9.5', dy='.35em') 15
                  g(transform='translate(0,60)')
                    rect(width='160', height='19')
                    text(x='157', y='9.5', dy='.35em') 16
                  g(transform='translate(0,80)')
                    rect(width='230', height='19')
                    text(x='227', y='9.5', dy='.35em') 23
              .col-lg-4.col-md-4.ca-item
                svg.chart(width='420', height='120')
                  g(transform='translate(0,0)')
                    rect(width='40', height='19')
                    text(x='37', y='9.5', dy='.35em') 4
                  g(transform='translate(0,20)')
                    rect(width='80', height='19')
                    text(x='77', y='9.5', dy='.35em') 8
                  g(transform='translate(0,40)')
                    rect(width='150', height='19')
                    text(x='147', y='9.5', dy='.35em') 15
                  g(transform='translate(0,60)')
                    rect(width='160', height='19')
                    text(x='157', y='9.5', dy='.35em') 16
                  g(transform='translate(0,80)')
                    rect(width='230', height='19')
                    text(x='227', y='9.5', dy='.35em') 23
              .col-lg-4.col-md-4.ca-item
                svg(name='charts')
              .col-lg-4.col-md-4.ca-item
                svg.chart(width='420', height='120')
                  g(transform='translate(0,0)')
                    rect(width='40', height='19')
                    text(x='37', y='9.5', dy='.35em') 4
                  g(transform='translate(0,20)')
                    rect(width='80', height='19')
                    text(x='77', y='9.5', dy='.35em') 8
                  g(transform='translate(0,40)')
                    rect(width='150', height='19')
                    text(x='147', y='9.5', dy='.35em') 15
                  g(transform='translate(0,60)')
                    rect(width='160', height='19')
                    text(x='157', y='9.5', dy='.35em') 16
                  g(transform='translate(0,80)')
                    rect(width='230', height='19')
                    text(x='227', y='9.5', dy='.35em') 23
              .col-lg-4.col-md-4.ca-item
                svg(name='charts')
              .col-lg-4.col-md-4.ca-item
                svg.chart(width='420', height='120')
                  g(transform='translate(0,0)')
                    rect(width='40', height='19')
                    text(x='37', y='9.5', dy='.35em') 4
                  g(transform='translate(0,20)')
                    rect(width='80', height='19')
                    text(x='77', y='9.5', dy='.35em') 8
                  g(transform='translate(0,40)')
                    rect(width='150', height='19')
                    text(x='147', y='9.5', dy='.35em') 15
                  g(transform='translate(0,60)')
                    rect(width='160', height='19')
                    text(x='157', y='9.5', dy='.35em') 16
                  g(transform='translate(0,80)')
                    rect(width='230', height='19')
                    text(x='227', y='9.5', dy='.35em') 23
              .col-lg-4.col-md-4.ca-item
                svg(name='charts')
              .col-lg-4.col-md-4.ca-item
                svg.chart(width='420', height='120')
                  g(transform='translate(0,0)')
                    rect(width='40', height='19')
                    text(x='37', y='9.5', dy='.35em') 4
                  g(transform='translate(0,20)')
                    rect(width='80', height='19')
                    text(x='77', y='9.5', dy='.35em') 8
                  g(transform='translate(0,40)')
                    rect(width='150', height='19')
                    text(x='147', y='9.5', dy='.35em') 15
                  g(transform='translate(0,60)')
                    rect(width='160', height='19')
                    text(x='157', y='9.5', dy='.35em') 16
                  g(transform='translate(0,80)')
                    rect(width='230', height='19')
                    text(x='227', y='9.5', dy='.35em') 23
              .col-lg-4.col-md-4.ca-item
                svg(name='charts')
          .panel-footer
            button.btn.btn-primary.btn-sm(name='addtocollection', draggable='true', ondragstart="drag(event)", type='button')
              i.fa.fa-archive
              | Drag to Collection
          script(type='text/javascript')
            $('.ca-container').contentcarousel();

//            button.btn.btn-danger.btn-sm.pull-right(type='button')
 //             i.fa.fa-trash
  //            | Remove from Collection
